.listItemContainer {
  margin: 1rem auto;
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  background-color: rgb(198, 195, 195);
}

.thumbnail {
  width: 80px;
  margin-left: 0.5rem;
}

.textWrapper {
  color: black;
  font-size: 1.3rem;
  border-right: 1px solid gray;
  padding: 0 1rem;
  width: 400px;
}

.linkWrapper {
  width: 60px;
  margin: auto auto;
}

.links {
  margin: auto;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  color: #ccc;
  text-decoration: none;
  border-radius: 5px;
  background-color: #121212;
  transition: all 0.3s ease-in-out;
}
.links:hover {
  color: white;
  font-size: 1.6rem;
}

.links:visited {
  color: #ccc;
  text-decoration: none;
}

.links:active {
  color: #ccc;
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .textWrapper {
    width: 300px;
    font-size: 1.2rem;
  }

  .thumbnail {
    width: 50px;
  }
  

  .linkWrapper {
    width: 50px;
    padding: 1rem 1.5rem;
  }

  .links {
    font-size: 1.2rem;
    padding: 1rem 1.5rem;
  }

  .links:hover {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 350px) {
  .textWrapper {
    width: 250px;
    font-size: 1.2rem;
  }

  .linkWrapper {
    width: 50px;
    padding: 1rem 1rem;
  }

  .links {
    font-size: 1.1rem;
    padding: 1rem 1.5rem;
  }

  .links:hover {
    font-size: 1.2rem;
  }
}
