.headerTopContainer {
  position: relative;
}

.homeWrapper {
  position: absolute;
  top: 40%;
  left: 20px;
}

.homeIcon {
  transition: all ease-in-out 0.4s;
}

.homeIcon:hover {
  transform: scale(1.2);
}
.headerContainer {
  color: #ccc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.6rem;
  padding: 1rem 1rem;
  background-color: #094261;
}

.headerLinks {
  color: #ccc;
  margin: auto 6rem;
  padding: 2rem;
  transition: all ease-in-out 0.4s;
  text-decoration: none;
}

.headerLinks:hover {
  color: white;
  transform: scale(1.1);
  text-decoration: none;
}

